<div class="cart-empty reveal">
  <h2 class="type-lg">{{ 'sections.cart.empty' | t }}</h2>
  <p class="type-md">{{ 'sections.cart.title' | t | append: ' is ready when you are. Explore the collection to add your first piece.' }}</p>
  <a href="{{ routes.all_products_collection_url }}" class="button button--secondary tt-min tt-pad">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
